<div class="slide-item">
    <div class="image-layer lazy-image" style="background-image: url('{{ self.image.url }}');"></div>
    <div class="auto-container">
        <div class="content-box">
            <h2>{{ self.title|linebreaksbr }}</h2>
            <div class="text">{{ self.text }}</div>
            {% if self.button_text and self.button_link %}
            <div class="btn-box"><a href="{{ self.button_link }}" class="theme-btn btn-style-one"><span class="btn-title">{{ self.button_text }}</span></a></div>
            {% endif %}
        </div>
    </div>
</div>