<section class="call-to-action">
    <div class="image-layer lazy-image" style="background-image: url('{{ self.background_image.url }}');"></div>
    <div class="auto-container">
        <div class="inner">
            <div class="sec-title centered">
                <h2>{{ self.title }}</h2>
                <div class="text">{{ self.text|richtext }}</div>
                <div class="link-box clearfix">
                    <a href="{{ self.button_1_link }}" class="theme-btn btn-style-three"><span class="btn-title">{{ self.button_1_text }}</span></a>
                    <a href="{{ self.button_2_link }}" class="theme-btn btn-style-one"><span class="btn-title">{{ self.button_2_text }}</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
