<section class="team-carousel-section no-padding-top">
    <div class="auto-container">
        <div class="title-box clearfix">
            <div class="sec-title">
                <div class="sub-title">{{ self.subtitle }}</div>
                <h2>{{ self.title }}</h2>
            </div>
            <div class="text">{{ self.description }}</div>
        </div>

        <!--Team Carousel-->
        <div class="team-carousel love-carousel owl-theme owl-carousel"
            data-options='{
                "loop": false, 
                "margin": 30, 
                "autoheight":true,
                "lazyload":true,
                "nav": true, 
                "dots": true, 
                "autoplay": true,
                "autoplayTimeout": 5000,
                "smartSpeed": 500,
                "responsive":{ 
                    "0" :{ "items": "1" },
                    "600" :{ "items": "1" }, 
                    "800" :{ "items" : "2" }, 
                    "1024":{ "items" : "3" }, 
                    "1366":{ "items" : "3" }}}'
            >
            {% for member in self.members %}
            <div class="slide-item">
                <div class="team-block">
                    <div class="inner-box">
                        <figure class="image-box"><a href="#"><img
                                    src="{{ member.value.image.url }}"
                                    alt="{{ member.value.name }}"></a></figure>
                        <div class="lower-box">
                            <div class="content">
                                <h3><a href="#">{{ member.value.name }}</a></h3>
                                <div class="designation">{{ member.value.designation }}</div>
                                <div class="social-links">
                                    <ul class="clearfix">
                                        {% if member.value.facebook_link %}
                                        <li><a href="{{ member.value.facebook_link }}"><span
                                                    class="fab fa-facebook-f"></span></a></li>
                                        {% endif %}
                                        {% if member.value.twitter_link %}
                                        <li><a href="{{ member.value.twitter_link }}"><span
                                                    class="fab fa-twitter"></span></a></li>
                                        {% endif %}
                                        {% if member.value.linkedin_link %}
                                        <li><a href="{{ member.value.linkedin_link }}"><span
                                                    class="fab fa-linkedin-in"></span></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--End Team Carousel-->
    </div>
</section>