<section class="upcoming-events">
    <div class="circle-three"></div>
    <div class="circle-four"></div>

    <div class="auto-container">

        <div class="sec-title centered">
            <div class="sub-title">{{ self.subtitle }}</div>
            <h2>{{ self.title }}</h2>
            <div class="text">{{ self.description }}</div>
        </div>

        <div class="events-box wow fadeInUp" data-wow-delay="0ms">
            {% for event in self.events %}
            <div class="event-block-two">
                <div class="inner-box">
                    <div class="row clearfix">
                        <div class="title-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner">
                                <div class="image-box">
                                    <a href="#"><img class="lazy-image"
                                        src="{{ event.value.image.url }}"
                                        alt="{{ event.value.title }}"></a>
                                </div>
                                <div class="title">
                                    <h3><a href="{{ event.value.link_url }}">{{ event.value.title }}</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="info-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner">
                                <div class="clearfix">
                                    <ul class="info clearfix">
                                        <li><span class="icon far fa-clock"></span> {{ event.value.time }}</li>
                                        <li><span class="icon fa fa-map-marker-alt"></span> {{ event.value.location }}</li>
                                    </ul>
                                    <div class="link-box">
                                        <a href="{{ event.value.link_url }}" class="theme-btn btn-style-one">
                                            <span class="btn-title">{{ event.value.link_text }}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>
